@charset "utf-8";
/* CSS Document */

a {outline:none; border:0px; text-decoration:none;}
a img {outline:none; border:0px;}
*{padding:0; margin:0;}
html,body, iframe {padding: 0; margin: 0;}
div,p,ul, li, form, h1, h2, select{padding: 0; margin: 0;}
input{outline:none;}
strong,b{font-weight: bold;}
ul, li {list-style:none;}
body {padding:0px; margin:0; min-width:100%; /*background:#eef3fa;*/}


.clearFix{clear:both;}
.row{width:100%; max-width:1000px; margin:0 auto;}

.wrapper{ width:1000px; margin:0 auto; padding:0;}

/*=================================== header prt start ==============================*/

.headr{ height:100px; margin:0; padding:0 30px 10px 30px; width:940px; background:#fcfbf9;}
.headr .logo{ width:150px; padding-top:25px; float:left;}
.headr .hdrMnu{ float:left; background:#b7b5b3; margin-top:9px; border-left:1px solid #272727; border-top:1px solid #272727; border-bottom:1px solid #272727;}
.headr .hdrMnu a{ padding:5px 10px; text-align:center; float:left; font:15px Verdana, Verdana, Arial, sans-serif; color:#000; border-right:1px solid #272727;}
.headr .usr{ width:160px; float:right; height:35px; background: url(../images/usricn.png) no-repeat bottom right; color:#f06c83; font:20px Verdana, Verdana, Arial, sans-serif; padding-top:65px;}
.headr .hdrMnu.hdfrm5{width:688px; float:right; background:none; border:0;}
.headr .hdrMnu.hdfrm5 a{border:1px solid #3e3e3e; margin-left:5px; font-weight:bold;}
.headr .hdrMnu.hdfrm5 a:first-child{margin-left:0;}
.headr .hdrMnu.hdfrm5 a:hover, .headr .hdrMnu.hdfrm5 a.active{border-color:#f05c74; color:#f05c74;}

/*=================================== header prt start ==============================*/

/*=================================== body prt start ==============================*/

.bdyPrt{ margin:0; padding:0; background:#e7e3e0; padding:10px; min-height:500px; width:980px; border-top:1px solid #cccccc;}

.frmHldr{ width:500px; padding:0; margin:0 auto;}
.frmHldr h1{color:#000; font:30px Verdana, Arial, sans-serif; font-weight:normal; text-align:center; margin:30px 0;}
.frmHldr .frmPrt{ margin:0 50px; padding:0; font:14px Verdana, Verdana, Arial, sans-serif;}
.frmHldr .frmPrt .frmRw{ margin-bottom:10px; width:400px; padding:0; color:#272727;}
.frmHldr .frmPrt .frmRw .inptBx{ width:388px; padding:0 5px; background:#fff; height:40px; border:0; border:1px solid #a7a5a6; font:14px Verdana, Verdana, Arial, sans-serif; color:#272727;}
.frmHldr .frmPrt .frmRw .inptBx:focus{ border:1px solid #f55c77; -moz-box-shadow: 0 0 2px 5px #fadcdd;-webkit-box-shadow:0 0 2px 5px #fadcdd; box-shadow:0 0 2px 5px #fadcdd;}
.frmHldr .frmPrt .frmRw .rmbr{ float:left; width:60%; color:#777576;}
.frmHldr .frmPrt .frmRw .sbmt{ float:left; width:40%; text-align:right;}
.frmHldr .frmPrt .frmRw .sbmt .sbBtn{ background:#f55c77; padding:4px 8px; border:1px solid #727272; cursor:pointer; border-radius: 3px;-moz-border-radius: 3px;
-webkit-border-radius: 3px; font:bold 14px Verdana, Verdana, Arial, sans-serif; color:#272727; text-shadow: 1px 1px 1px #fff;}
.frgtPas{font:14px Verdana, Verdana, Arial, sans-serif; text-align:center; margin:30px 0;}
.frgtPas a{color:#777576;}
.tpGp{ margin-top:20px;}
.bdyPcs{width:973px; margin:0 auto;}
.bdyPcs ul li{ display:inline-block; margin:3px;}

/*-------------------- reports --------------------------*/

.actnPrt{ margin:0; padding:0;}
.actnPrt .menuHld{ width:200px; float:left;}
.actnPrt .menuHld h1{font:24px Verdana, Verdana, Arial, sans-serif; color:#000; padding:10px 0;}
.actnPrt .menuHld ul{ border:1px solid #a7a5a6; background:#fff;}
.actnPrt .menuHld ul li{ border-bottom:1px dotted #a7a5a6; padding:10px; font:14px Verdana, Verdana, Arial, sans-serif;}
.actnPrt .menuHld ul li:last-child{ border-bottom:0;}
.actnPrt .menuHld ul li a{ color:#272727;}
.actnPrt .menuHld ul li:hover, .actnPrt .menuHld ul li.active{ background:#ccc;}

.actnPrt .cntntHld{ width:730px; float:right; background:#fff; padding:10px; min-height:500px;}

.reports h1{font:30px "Times New Roman", Times, serif; color:#2e3192; margin-bottom:20px;}
.reports ul li{ display:inline-block; margin:5px;}

/*-------------------- forms --------------------------*/

.divsnFrm{ width:80%; margin:0 auto;}
.divsnFrm h1{font:22px Verdana, Arial, sans-serif; color:#727272; padding:10px 0;}
.divsnFrm .frmPrt{ width:90%; margin:20px auto;}

input.inBx{ width:388px; padding:0 5px; background:#fff; height:30px; border:0; border:1px solid #a7a5a6; font:14px Verdana, Verdana, Arial, sans-serif; color:#272727;}
input.inBx01{ width:180px; padding:0 5px; background:#fff; height:30px; border:0; border:1px solid #a7a5a6; font:14px Verdana, Verdana, Arial, sans-serif; color:#272727;}
select.drp{ width:400px; padding:0 0 0 5px; background:#fff; height:30px; border:0; border:1px solid #a7a5a6; font:14px Verdana, Verdana, Arial, sans-serif; color:#272727;}
td.frmTxt{ font:14px Verdana, Verdana, Arial, sans-serif; color:#777576;}
input.chkBx{ margin-left:10px; vertical-align:middle;}
input.sbbtn{ background:#f55c77; padding:4px 8px; border:1px solid #727272; cursor:pointer; border-radius: 3px;-moz-border-radius: 3px;
-webkit-border-radius: 3px; font:bold 14px Verdana, Verdana, Arial, sans-serif; color:#272727; text-shadow: 1px 1px 1px #fff;}

/*------------------------------- School Details Form -----------------------------*/

.schDtlFrm{ width:80%; margin:0 auto;}
.schDtlFrm h1{font:22px Verdana, Arial, sans-serif; color:#727272; padding:10px; background:#fff; margin-bottom:10px;}

/*=================================== body prt end ==============================*/

/*----------------------------Palash 29.01.14
.schDtlFrm .hdTxt{width:50%; font:22px Verdana, Arial, sans-serif; color:#727272; padding:2px 4px; background:#fff; margin-bottom:10px; display:inline-block; margin-top:40px;}
.schDtlFrm .hdTxt span{color:#000;}
.selBxSec{width:auto;}
.selBxSec li{width:228px; display:inline-block;}
.selBxSec li p{width:inherit; text-align:center; color:#737270; font:14px Verdana, Arial, Times, serif;}*/

/*----------------------------Palash 29.01.14*/
.schDtlFrm .hdTxt{width:50%; font:22px Verdana, Arial, sans-serif; color:#727272; padding:2px 4px; background:#fff; margin-bottom:10px; display:inline-block; margin-top:40px;}
.schDtlFrm .hdTxt span{color:#000;}
/*dipankar*/
.schDtlFrm .hdTxt01{width:100%; font:22px Verdana, Arial, sans-serif; color:#727272; padding:2px 4px; background:#fff; margin-bottom:10px; display:inline-block; margin-top:40px;}
.schDtlFrm .hdTxt01 span{color:#000;}
/*dipankar*/
.selBxSec{width:auto;}
.selBxSec li{width:228px; display:inline-block; margin:0px 0 15px 0;}
.selBxSec li p{width:inherit; text-align:center; color:#737270; font:14px Verdana, Arial, Times, serif;}
/*dipankar*/
.selBxSec li .input{ width:225px; height:25px; background:#FFF; padding:1px 1px 1px 0; border:1px solid #b8b8b8; margin-top:5px; }
.selBxSec li .onlyinput{ width:225px; height:21px; background:#FFF; padding:1px 1px 1px 0; border:1px solid #b8b8b8; margin-top:5px; }

/**section 2part **/
.totalBx{text-align:center; color:#737270; font:14px Verdana, Arial, Times, serif;}
.totalBx .textfil{width:60px; height:25px; background:#FFF; padding:1px 1px 1px 0; border:1px solid #b8b8b8; margin-bottom:5px;}
.totalBx .textfil01{width:25px; height:30px; background:#FFF; padding:1px 1px 1px 0; border:1px solid #b8b8b8; margin-bottom:5px;}
.totalBx .textfil11{width:100px; height:25px; background:#FFF; padding:1px 1px 1px 0; border:1px solid #b8b8b8; margin-bottom:5px; margin-top:5px;}

.headPart{ width:auto; margin-top:20px;}
.headPart ul{ margin:0px; padding:0px; list-style:none;}
.headPart ul li{display:inline-block; margin:0px 10px 15px 0;color:#737270; font:15px Verdana, Arial, Times, serif;}
.headPart ul li .inputBox{width:200px; height:25px; background:#FFF; padding:1px 1px 1px 0; border:1px solid #b8b8b8;}
.thankText{font:16px Verdana, Arial, Times, serif; margin:10px 0 10px 0;color:#737270;}
.creatPart{ margin:10px 0 0 0;}
.creatPart .createBtn{ background:#f55c78; border-radius:5px; border:1px solid #b77440; color:#3b3b3d; text-shadow:1px 1px #fa8aa3; font-size:15px; padding:5px 15px 5px 15px; cursor:pointer;}

.srvyHldr{ width:auto; margin:0px; padding-top:10px;}
.srvyHldr ul li{display:inline-block; margin:0px 0 15px 0;color:#737270; font:15px Verdana, Arial, Times, serif;}
.srvyHldr ul li .inputBox{width:200px; height:25px; background:#FFF; padding:1px 1px 1px 0; border:1px solid #b8b8b8;}

/*----------------------------Palash 29.01.14 for Evidence-Action dashbord*/
.wrapperNwp{width:100%;}
.wrapperNwp .header{width:100%; background:#e7e3e0; border-bottom:1px solid #c6c2c1; padding-bottom:10px;}
.wrapperNwp .header .hdmnCnt{width:1142px; margin:0 auto;}

.wrapperNwp .header .logo{ width:150px; padding-top:10px; float:left;}
.wrapperNwp .header .hdmnCnt .hdrMnun{width:642px; float:left; background:none; border:0; margin:30px 0 0 120px;}
.wrapperNwp .header .hdmnCnt .hdrMnun .mainmenu{width:100%;}
.wrapperNwp .header .hdmnCnt .hdrMnun .mainmenu li{width:auto; margin-left:14px; display:inline-block; position:relative;}
.wrapperNwp .header .hdmnCnt .hdrMnun .mainmenu li:first-child{margin-left:0;}
.wrapperNwp .header .hdmnCnt .hdrMnun .mainmenu li a{border:0; font-weight:bold; color:#333; display:inline-block;}
.wrapperNwp .header .hdmnCnt .hdrMnun .mainmenu li a:hover, .wrapperNwp .header .hdmnCnt .hdrMnun .mainmenu li a.active{border-color:#f05c74; color:#f05c74;}

.wrapperNwp .header .hdmnCnt .hdrMnun .mainmenu li ul.submenu{width:170px; display:none; position:absolute; top:19px; left:0; background:#787878; padding:5px 10px; transition:all 0.4 ease-in-out;}
.wrapperNwp .header .hdmnCnt .hdrMnun .mainmenu li:hover ul.submenu{display:block;}
.wrapperNwp .header .hdmnCnt .hdrMnun .mainmenu li ul.submenu li{width:auto; display:block; margin-left:0; border-top:1px solid #939393; border-bottom:1px solid #494848; padding:5px 0;}
.wrapperNwp .header .hdmnCnt .hdrMnun .mainmenu li ul.submenu li:first-child{border-top:0;}
.wrapperNwp .header .hdmnCnt .hdrMnun .mainmenu li ul.submenu li.noBor{border-bottom:0;}
.wrapperNwp .header .hdmnCnt .hdrMnun .mainmenu li ul.submenu li a{color:#fff;}
.wrapperNwp .header .hdmnCnt .hdrMnun .mainmenu li ul.submenu li:hover a{color:#f36980;}

.wrapperNwp .header .hdmnCnt .usrNmSec{width:230px; float:right; font:bold 14px Verdana, Arial, sans-serif; color:#f05c74; margin-top:32px; text-align:right;}

.wrapperNwp .rstBdy{width:100%; background:#fff;}
.wrapperNwp .rstBdy .inside{width:1142px; margin:0 auto; padding:10px 0;}
.wrapperNwp .rstBdy .inside .selSec{width:auto; margin:5px 0;}
.wrapperNwp .rstBdy .inside .selSec label{width:120px; display:inline-block; font:14px Verdana, Arial, Times, serif; color:#3b3b3b; text-align:right; margin-right:5px;}
/*.wrapperNwp .rstBdy .inside .selSec select{width:153px; font:bold 12px Verdana, Arial, Times, serif; color:#3b3b3b; border:1px solid #a5a5a5; text-align:center; padding:2px 4px;}*/
.wrapperNwp .rstBdy .inside .selSec select{margin-left: 3.7px; font-family: 13px Verdana, Verdana, Arial, sans-serif; border: 1px solid #ccc; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); color: #555; border: 1px solid #AAAAAA; width: 230px; font-size: 16px; line-height: 20px; height: 30px; /*padding: 15px;*/ padding: 4px; outline: none; -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; -ms-border-radius: 2px; border-radius: 2px; margin-top: 7px; margin-bottom: 5px;}

	.input_select {

  margin-left: 3.7px; font-family: 13px Verdana, Verdana, Arial, sans-serif; border: 1px solid #ccc; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); color: #555; border: 1px solid #AAAAAA; width: 230px; font-size: 16px; line-height: 20px; height: 30px; /*padding: 15px;*/ padding: 4px; outline: none; -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; -ms-border-radius: 2px; border-radius: 2px; margin-top: 7px; margin-bottom: 5px;
}
.wrapperNwp .rstBdy .inside .selSec label.dischrt{width:175px;}
.wrapperNwp .rstBdy .inside .hthtxt{font:bold 15px Verdana, Arial, sans-serif; color:#333;}
.wrapperNwp .rstBdy .inside .selSec ul{width:auto;}
.wrapperNwp .rstBdy .inside .selSec ul li{display:inline-block;}
.wrapperNwp .rstBdy .inside .chckSec{width:auto; /*margin:20px 0;*/}
.wrapperNwp .rstBdy .inside .chckSec ul{width:auto;}
.wrapperNwp .rstBdy .inside .chckSec ul li{display:block; margin:5px 0;}
.wrapperNwp .rstBdy .inside .chckSec ul li label{width:185px; display:inline-block; margin-left:22px; font:14px Verdana, Arial, Times, serif; color:#3b3b3b;}
.wrapperNwp .rstBdy .inside .chckSec ul li span{font:bold 12px Verdana, Arial, Times, serif; color:#3b3b3b; display:inline-block; margin-right:10px;}

.wrapperNwp .rstBdy .inside .genBtn{width:auto; height:auto; display:inline-block; background:#ff6f88; border-radius:5px; border:1px solid #9e6d1e; font:bold 12px Verdana, Arial, Times, serif; color:#3b3b3b; outline:none; padding:8px 4px 8px 4px; cursor:pointer;}

.wrapperNwp .rstBdy .inside .hthtxt.cnts{font:bold 15px Verdana, Arial, sans-serif; color:#333; margin-top:20px; text-align:center;}
.wrapperNwp .rstBdy .inside .chrtSec{margin-top:100px; text-align:center;}

.selBxSec{width:65%; margin:0 auto;}

/*======================= runa 04022014 ===============================*/

.totalBx .impt01{width:50px; height:20px; background:#FFF; padding:4px; border:1px solid #b8b8b8; margin-bottom:5px;}
.totalBx .impt02{width:50px; height:20px; background:#ccc; padding:4px; border:1px solid #b8b8b8; margin-bottom:5px;}

.performancedataandreporting{max-width:1000px; margin:40px auto;}
.performancedataandreporting h2{font:25px "Times New Roman", Times, serif; color:#2e3192; text-align:center;}
.performancedataandreporting ul{max-width:500px; margin:30px auto 0 auto; background:#ddd; border:1px solid #cccccc; padding:0 20px;}
.performancedataandreporting ul li{display:block; padding:10px 0; border-top:1px solid #fff; border-bottom:1px solid #adadad; text-align:center;}
.performancedataandreporting ul li.noBor{border-bottom:0;}
.performancedataandreporting ul li:first-child{border-top:0;}
.performancedataandreporting ul li a{font:20px "Times New Roman", Times, serif; color:#F05C74;}